@rendermode InteractiveServer
@using ScraperDataDisplay.Entities

@if(Book != null)
{
    <div class="col-sm-12 col-md-3 d-flex justify-content-center p-2" >
        <div style="width:200px;height:250px; padding:15px;">
            <a href="@Book.Url" target="_blank" style="text-decoration:none;" >
                 <img src="@Book?.ImageURL" class="d-block" style="width:100%;height:100%;" />
            </a>
            <div class="row">
                <button type="button" class="btn btn-dark mt-2" data-bs-toggle ="modal" data-bs-target="#staticBackdrop@(Book?.Id)">
                    Book Details
                </button>
            </div>
        </div>
    </div>
}


@code {  
    [Parameter]
    public AmazonBook? Book { get; set; }

}
